$primary-color: #4782D3; //pobrany z tej strony jako dominujący bo się tam wszędzie przewija
$secondary-color: #ffffff;
$main-text-color: #333;
$min_width: 320px; ///minimalna szerokość ekranu
$max_width: 1170px; //maxymalna szerokość ekranu
$min_font: 16px; // minimalna czcionka
$max_font: 74px; // max czcinka dolarek to zmienna 